* {
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    animation: bodymove linear 6s infinite;
}

.sky {
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    height: 80vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}

.track{
    height: 40vh;
    width: 500%;
    background-image: url(track.png);
    background-repeat: repeat-x;
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    animation: trackmotion linear 6s infinite;
   
}

.car{
    height: 100px;
    width: 330px;
    background-image: url(car.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    top: 533px;
    bottom: 0px;
    animation: move linear 6s infinite;
}


.wheel1 img{
    width: 71px;
    position: relative;
    top: 37px;
    left: 39px;
    animation: wheelrotation linear .6s infinite;
}

.wheel2 img{
    width: 71px;
    position: relative;
    top: -39px;
    left: 217px;
    animation: wheelrotation linear .6s infinite;
}

@keyframes wheelrotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes trackmotion {
    100%{
        transform: translateX(-300vw);
    }
}

@keyframes move {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes bodymove {
    0%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(-40px);
    }
}
